name: Build Streekx APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # Yeh step gradlew file ki kami ko poora kar dega
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build with Gradle
        run: |
          cd native_app
          gradle assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: streekx-app
          path: native_app/app/build/outputs/apk/debug/app-debug.apk
